// Font-family :

$outfit:'Outfit',sans-serif;

// Colors : 

$primary:hsl(184, 99%, 53%);
$white:hsl(0, 0%, 100%);
$author:hsla(0, 0%, 0%, 0);
$review:hsl(0, 7%, 41%);
$background:hsl(196, 9%, 24%);